<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true"
			throwExceptions="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Database"
			name="AuditLogTarget"
			dbProvider="System.Data.SqlClient"
			connectionString="${configsetting:name=ConnectionStrings.LogDbCS}"
			keepConnection="true"
			commandType="Text"
		>
			<!-- SQL command to be executed for each entry -->
			<commandText>
				INSERT INTO [LogAudit]
				(
					[TimeStamp], [Level],
					[Controller], [Action], [Logger], [ClientIpAddress], [Url], [HttpMethod],
					[CompanyId], [UserId], [Email], [UserFullName],
					[Message],
					[EntityName], [DbAction], [KeyFields], [ChangedFields], [TimeElapsed]
				)
				VALUES
				(
					getutcdate(), @Level,
					@Controller, @Action, @Logger, @ClientIPAddress, @Url, @HttpMethod,
					NULLIF(@CompanyId, 0),
					NULLIF(@UserId, 0),
					@Email, @UserFullName,
					@Message,
					@EntityName, @DbAction, @KeyFields, @ChangedFields,
					NULLIF(@TimeElapsed, 0)
				)
			</commandText>

			<!-- parameters for the command -->
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Controller" layout="${mdc:item=controller}" />
			<parameter name="@Action" layout="${mdc:item=action}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@ClientIPAddress" layout="${aspnet-Request-Ip}" />
			<parameter name="@Url" layout="${aspnet-Request-Host}${aspnet-Request-QueryString}" />
			<parameter name="@HttpMethod" layout="${aspnet-request-method}" />
			<parameter name="@CompanyId" layout="${mdc:item=CompanyId}" dbType="DbType.Int32"/>
			<parameter name="@UserId" layout="${mdc:item=UserId}" dbType="DbType.Int32" />
			<parameter name="@Email" layout="${mdc:item=Email}" />
			<parameter name="@UserFullName" layout="${mdc:item=UserFullName}" />
			<parameter name="@Message" layout="${Message}" />
			<parameter name="@EntityName" layout="${event-properties:item=EntityName}" />
			<parameter name="@DbAction" layout="${event-properties:item=DbAction}" />
			<parameter name="@KeyFields" layout="${event-properties:item=KeyFields}" />
			<parameter name="@ChangedFields" layout="${event-properties:item=ChangedFields}" />
			<parameter name="@TimeElapsed" layout="${event-properties:item=TimeElapsed}" dbType="DbType.Int32" />
		</target>
		<target xsi:type="Database"
			name="SystemLogTarget"
			dbProvider="System.Data.SqlClient"
			connectionString="${configsetting:name=ConnectionStrings.LogDbCS}"
			keepConnection="true"
			commandType="Text"
		>
			<!-- SQL command to be executed for each entry -->
			<commandText>
				INSERT INTO [LogSystem]
				(
					[TimeStamp], [Level],
					[Controller], [Action], [Logger], [ClientIpAddress], [Url], [HttpMethod],
					[CompanyId], [UserId], [Email], [UserFullName],
					[Message],
					[Exception], [StackTrace]
				)
				VALUES
				(
					getutcdate(), @Level,
					@Controller, @Action, @Logger, @ClientIPAddress, @Url, @HttpMethod,
					NULLIF(@CompanyId, 0),
					NULLIF(@UserId, 0),
					@Email, @UserFullName,
					@Message,
					@Exception, @StackTrace
				)
			</commandText>

			<!-- parameters for the command -->
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Controller" layout="${mdc:item=controller}" />
			<parameter name="@Action" layout="${mdc:item=action}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@ClientIPAddress" layout="${aspnet-Request-Ip}" />
			<parameter name="@Url" layout="${aspnet-Request-Host}${aspnet-Request-QueryString}" />
			<parameter name="@HttpMethod" layout="${aspnet-request-method}" />
			<parameter name="@CompanyId" layout="${mdc:item=CompanyId}" dbType="DbType.Int32"/>
			<parameter name="@UserId" layout="${mdc:item=UserId}" dbType="DbType.Int32" />
			<parameter name="@Email" layout="${mdc:item=Email}" />
			<parameter name="@UserFullName" layout="${mdc:item=UserFullName}" />
			<parameter name="@Message" layout="${Message}" />
			<parameter name="@Exception" layout="${exception:maxInnerExceptionLevel=1}" />
			<parameter name="@StackTrace" layout="${stacktrace:topFrames=20:separator=&#13;&#10;}" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="AuditLogTarget" />
		<logger name="*" minlevel="Info" writeTo="SystemLogTarget" />

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
	</rules>
</nlog>
